/* album display */

.album1 {
    height: 100px;
    width: 100px;
}

.album2 {
    height: 100px;
    width: 100px;
}

.album {
    margin: 10px;   
    height: 100px;
    width: 100px;
    border: 1px solid white;
    background-color: red;
}

/*reserves space for the gallery titles hottest album recent & hottest album this month*/

.albumgallerytitles {
display: flex;
}

.albumgallerytitlejustout {
    width: 50%;
    text-align: center;
    margin: 0px;
    display: inline-block;
    font-family: 'Changa One', cursive;
    color: red;
}

.albumgallerytitleofthemonth {
    width: 50%;
    text-align: center;
    margin: 0px;
    display: inline-block;
    font-family: 'Changa One', cursive;
    color: red
}

/* image grid made with flex */

.albumgallery {
    display: flex;
}

.albumrow1 {
display: flex;
flex-direction: column;
}

.albumrow2 {
display: flex;
flex-direction: column;
}

.albumrow3 {
display: flex;
flex-direction: column;
}

/* temporary album of the month */

.albumofthemonthbox {
    display: flex;
    width: 100%;
}

.albumofthemonth img {
    width: 90%;
    margin: 9px;
    border: 1px solid   white;
}